*{
    margin: 0;  
    padding: 0;
    font-family: sans-serif;
    background-color:var(--primary-color);
    color: var(--secondary-color);
}
:root{
    --primary-color: rgb(120, 0, 0);
    --secondary-color: rgb(253, 240, 213);
    --hover-color: rgb(193, 18, 31);
    --dark-color: rgb(0, 48, 73);
    /* --lighter-color: rgb(102, 155, 188); */
    --lighter-color: yellow;
}


nav{
    background-color: var(--primary-color);
    cursor:pointer; /*Just changed*/
    padding: 30px 56px 30px 56px;
    display: flex;
    gap: 60%;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 56px 50px 56px; */
}
.Logo{
    text-emphasis: initial;
    font-size: x-large;
    font-weight: 700;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
nav ul li a {
    display: inline-block;
    font-size: large;
    text-decoration: none ;
    border-bottom: 3px solid var(--lighter-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 
nav ul li a:hover{
    transform: scale(1.2);
    animation: hovering 500ms infinite ease alternate-reverse; 
 }
.container{
    max-width: 1200px;
    padding-left: 56px;
    line-height: 2;
}
.nam {
    display: inline-block;
    font-family: "Playwrite DE SAS", cursive;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.nam:hover {
    transform: scale(1.01);
    color: yellow;
 }

@keyframes hovering {
    0%{
        color: var(--secondary-color);
        border-bottom: 3px solid var(--lighter-color);
    }
    100%{
        color: var(--lighter-color);
        border-bottom: 3px solid var(--secondary-color);
    }
    
}


